@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 728px) {
	.container {
		width: 728px;
	}
}

.header {
	padding: 8px 16px;
	left: 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.header__logo {
	height: 40px;
	/* elementos um ao lado do outro (inline) e possibilidade de definir altura/largura (block) */
	display: inline-block; 
}

.header_img {
	height: 100%;
}

.header__icon {
	border: none;
	background-color: transparent;
}

.stories {
	display: flex;
	padding: 16px 8px;
}

.stories__thumbnail {
	height: 78px;
	width: 78px;
	overflow: hidden;
	margin-right: 16px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.stories__thumbnail img {
	height: 72px;
	width: 72px;
	border-radius: 50%;
	border: 2px solid white;
}

.stories__thumbnail--hasNew {
    background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}


